/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 14, 2018, 3:17:31 PM
    Author     : user
*/
body{
    background-color: green
}
h1{
    font-size: 36pt
}
p{
    margin-left: 50px 
}
